{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended",
        "prettier"
    ],
    "rules": {
        "@typescript-eslint/interface-name-prefix": "off",
        "@typescript-eslint/explicit-function-return-type": "off",
        "@typescript-eslint/explicit-module-boundary-types": "off",
        "@typescript-eslint/no-explicit-any": "off",
        "max-lines": [
            "warn",
            {
                "skipBlankLines": true
            }
        ],
        "max-len": [
            "error",
            {
                "code": 110,
                "tabWidth": 2
            }
        ],
        "no-unused-vars": "off",
        "@typescript-eslint/no-unused-vars": [
            "warn",
            {
                "vars": "all",
                "argsIgnorePattern": "^_",
                "args": "after-used",
                "ignoreRestSiblings": true
            }
        ],
        "no-duplicate-imports": "off",
        "@typescript-eslint/no-duplicate-imports": [
            "error"
        ],
        "no-shadow": "off",
        "@typescript-eslint/no-shadow": [
            "error"
        ]
    }
}